In [1]:
# Python ≥3.5 is required
import sys
assert sys.version_info >= (3, 5)

# Scikit-Learn ≥0.20 is required
import sklearn
assert sklearn.__version__ >= "0.20"

try:
    # %tensorflow_version only exists in Colab.
    %tensorflow_version 2.x
except Exception:
    pass

# TensorFlow ≥2.0 is required
import tensorflow as tf
from tensorflow import keras
assert tf.__version__ >= "2.0"

%load_ext tensorboard

# Common imports
import numpy as np
import os

# to make this notebook's output stable across runs
np.random.seed(42)
tf.random.set_seed(42)

In [2]:
import pandas as pd

house = pd.read_csv('../../DL/data/kc_house_data.csv')
house

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [3]:
house = house.drop(['date'], axis=1)
house

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [9]:
from sklearn.utils import shuffle

house = shuffle(house, random_state = 42)

In [10]:
X = house.drop(['price'], axis=1)
X

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
735,2591820310,4,2.25,2070,8893,2.0,0,0,4,8,2070,0,1986,0,98058,47.4388,-122.162,2390,7700
2830,7974200820,5,3.00,2900,6730,1.0,0,0,5,8,1830,1070,1977,0,98115,47.6784,-122.285,2370,6283
4106,7701450110,4,2.50,3770,10893,2.0,0,2,3,11,3770,0,1997,0,98006,47.5646,-122.129,3710,9685
16218,9522300010,3,3.50,4560,14608,2.0,0,2,3,12,4560,0,1990,0,98034,47.6995,-122.228,4050,14226
19964,9510861140,3,2.50,2550,5376,2.0,0,0,3,9,2550,0,2004,0,98052,47.6647,-122.083,2250,4050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11964,5272200045,3,1.50,1000,6914,1.0,0,0,3,7,1000,0,1947,0,98125,47.7144,-122.319,1000,6947
21575,9578500790,3,2.50,3087,5002,2.0,0,0,3,8,3087,0,2014,0,98023,47.2974,-122.349,2927,5183
5390,7202350480,3,2.50,2120,4780,2.0,0,0,3,7,2120,0,2004,0,98053,47.6810,-122.032,1690,2650
860,1723049033,1,0.75,380,15000,1.0,0,0,3,5,380,0,1963,0,98168,47.4810,-122.323,1170,15000
15795,6147650280,4,2.50,3130,5999,2.0,0,0,3,7,3130,0,2006,0,98042,47.3837,-122.099,3020,5997

In [11]:
y = house['price']
y

735       365000.0
2830      865000.0
4106     1038000.0
16218    1490000.0
19964     711000.0
           ...
11964     378000.0
21575     399950.0
5390      575000.0
860       245000.0
15795     315000.0
Name: price, Length: 21613, dtype: float64

In [12]:
X.describe()

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [13]:
mean = X.mean(axis=0)
X -= mean
std = X.std(axis=0)
X /= std

In [14]:
X

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
735,-0.691269,0.676469,0.175603,-0.010779,-0.150022,0.936484,-0.087171,-0.305752,0.907533,0.291909,0.340070,-0.658666,0.510491,-0.210124,-0.372672,-0.875067,0.368508,0.588638,-0.185629
2830,1.179844,1.751667,1.149422,0.892927,-0.202242,-0.915406,-0.087171,-0.305752,2.444237,0.291909,0.050247,1.759003,0.204092,-0.210124,0.692649,0.854102,-0.504895,0.559458,-0.237526
4106,1.085026,0.676469,0.500209,1.840184,-0.101736,0.936484,-0.087171,2.304132,-0.629172,2.844104,2.392985,-0.658666,0.884979,-0.210124,-1.344543,0.032819,0.602836,2.514545,-0.112930
16218,1.718020,-0.398728,1.798635,2.700337,-0.012046,0.936484,-0.087171,2.304132,-0.629172,3.694836,3.346986,-0.658666,0.646669,-0.210124,-0.821228,1.006378,-0.100147,3.010612,0.053382
19964,1.714044,-0.398728,0.500209,0.511846,-0.234931,0.936484,-0.087171,-0.305752,-0.629172,1.142641,0.919717,-0.658666,1.123290,-0.210124,-0.484811,0.755230,0.929475,0.384375,-0.319308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11964,0.240529,-0.398728,-0.798217,-1.175797,-0.197800,-0.915406,-0.087171,-0.305752,-0.629172,-0.558823,-0.952058,-0.658666,-0.817240,-0.210124,0.879547,1.113910,-0.746324,-1.439400,-0.213207
21575,1.737558,-0.398728,0.500209,1.096532,-0.243960,0.936484,-0.087171,-0.305752,-0.629172,0.291909,1.568196,-0.658666,1.463734,-0.210124,-1.026816,-1.895536,-0.959349,1.372132,-0.277813
5390,0.911521,-0.398728,0.500209,0.043661,-0.249320,0.936484,-0.087171,-0.305752,-0.629172,-0.558823,0.400450,-0.658666,1.123290,-0.210124,-0.466121,0.872865,1.291618,-0.432676,-0.370583
860,-0.993286,-2.549123,-1.772037,-1.850854,-0.002582,-0.915406,-0.087171,-0.305752,-0.629172,-2.260286,-1.700768,-0.658666,-0.272530,-0.210124,1.683210,-0.570514,-0.774728,-1.191367,0.081729
15795,0.544868,0.676469,0.500209,1.143351,-0.219890,0.936484,-0.087171,-0.305752,-0.629172,-0.558823,1.620123,-0.658666,1.191379,-0.210124,-0.671709,-1.272718,0.815861,1.507821,-0.248001

In [16]:
def build_model(): 
    model = keras.models.Sequential()
    model.add(keras.layers.Flatten(input_shape=(X.shape[1],)))
    #'elu' = lambda x: tf.keras.activations.relu(x, alpha=0.2)
    model.add(keras.layers.Dense(128, activation='elu'))
    model.add(keras.layers.Dense(128, activation='elu'))
    model.add(keras.layers.Dense(128, activation='elu'))
    model.add(keras.layers.Dense(64, activation='elu'))
    model.add(keras.layers.Dense(64, activation='elu'))
#     model.add(keras.layers.Dropout(0.3))
    model.add(keras.layers.Dense(1))
    
    model.compile(optimizer='adam', loss='mse', metrics=['mse'])
    
    return model

In [ ]:
k = 10
num_val = len(X) // k
num_epochs = 35
all_scores = []
temp = []

for i in range(k):
    print('processing fold #', i)
    X_val = X[i * num_val: (i + 1) * num_val]
    y_val = y[i * num_val: (i + 1) * num_val]

    X_train_part = np.concatenate(
        [X[:i * num_val],
         X[(i + 1) * num_val:]], axis=0)
    y_train_part = np.concatenate(
        [y[:i * num_val],
         y[(i + 1) * num_val:]], axis=0)
    
    model = build_model()
    model.fit(X_train_part, y_train_part,
              epochs=num_epochs, verbose=0)

    val_mse, val_mae = model.evaluate(X_val, y_val, verbose=0)
    all_scores.append(val_mse)
    temp.append(val_mse)

processing fold # 0

In [ ]:
all_scores

In [ ]:
np.mean(all_scores)